.kursor {
  mix-blend-mode: difference;
  transition:
    transform 0.15s ease,
    background 0.2s ease;
}

.kursor--4 {
  background: radial-gradient(circle, transparent, rgb(14, 141, 226) 100%);
  box-shadow:
    0 0 5px rgba(0, 247, 255, 0.6),
    0 0 10px rgba(255, 26, 133, 0.3);
    backdrop-filter: blur(1px);
}

.kursor--hover {
  transform: scale(1);
  background: #ff1a85;
  box-shadow:
    0 0 15px #ff1a85,
    0 0 30px #00f7ff;
}

.kursor--hidden {
  transform: scale(0.5);
  opacity: 0.3;
}